<ng-container *ngIf="logged">
<app-top-bar-after></app-top-bar-after>
<main>
    <div class="search">
        <h2>Find Your Next Job</h2>
        <form>
            <input type="text" [(ngModel)]="query" name="q" placeholder="Search...">
            <button type="submit" (click)="searchVacancies(query)">Search</button>
        </form>
    </div>

    <div id = "main">
        <div id = "vacancies">
            <div class = "items" *ngFor = "let item of vacancies">
                <div class = "item-details">
                    <a class = "vacancy-name"> {{item.name}} </a>
                    <div class = "vacancy-salary">{{item.salary}} KZT</div>
                    <div class = "vacancy-city">{{item.city}} </div>
                </div>
            </div>
        </div>
    </div>
</main>
</ng-container>

<ng-container *ngIf="!logged">
    <app-main-page></app-main-page>
</ng-container>

<footer></footer>