<div class="login">
    <div class="login_box">
        <h1>Find an Employees</h1>
        <form>
            <input type="text" class="login" placeholder="Email"> <br> 
            <input type="password" class="login" placeholder="Password"> <br> 
            <input type="button" id="login_button" value="Login to my personal account">
        </form>
    </div> <br>

    <div class ="login_box">
        <h1>Find a Job</h1>
        <p>Resume publication and job search</p>
        <form>
            <input type="button" id="login_button" value="I'm looking for a job">
        </form>
    </div>
    </div>