<app-top-bar-after-employer></app-top-bar-after-employer>
<body>
<div class="container">
    <div class="profile">
        <h1>Name of the employer</h1>
        <h2>Position of the employer in company</h2>
        <p>Address of the company<br> Almaty, KZ</p>
        <a href="#">Visit Website</a>
        <hr>
        <h3>About Us</h3>
        <p>At our company, we are passionate about using technology to help businesses succeed. Our team of experienced professionals is dedicated to providing innovative solutions that meet the unique needs of each of our clients. Whether it's developing custom software, implementing digital marketing strategies, or providing exceptional customer support, we are committed to delivering the highest level of quality and service. Our goal is to help businesses stay ahead of the curve and achieve their full potential in today's fast-paced and ever-changing digital landscape.</p>
        <hr>
    </div>
</div>
</body>