<app-top-bar></app-top-bar>
<div class="container">
    <h1>Registration</h1>
    <form>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" id="submit" routerLink="/login">Submit</button>
        <a class = "signup_employer" routerLink="/registration-employer">Sign up for looking employees</a>
    </form>
</div>