<app-top-bar-after-employer></app-top-bar-after-employer>

<div class="container">
    <h1>Job Vacancies</h1>
    <ul class="job-list">
        <li class="job-item">
            <div class="job-title">Web Developer</div>
            <div class="job-company">ABC Company</div>
            <div class="job-description">We are looking for an experienced web developer to join our team.</div>
            <div class="job-location">Location: New York, NY</div>
            <div class="buttons">
                <button routerLink="/candidates-employer">Response of candidates</button>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </li>
        <li class="job-item">
            <div class="job-title">Graphic Designer</div>
            <div class="job-company">XYZ Inc.</div>
            <div class="job-description">We are seeking a creative and talented graphic designer to join our team.</div>
            <div class="job-location">Location: Los Angeles, CA</div>
            <div class="buttons">
                <button routerLink="/candidates-employer">Response of candidates</button>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </li>
        <li class="job-item">
            <div class="job-title">Marketing Manager</div>
            <div class="job-company">123 Corp.</div>
            <div class="job-description">We are looking for a marketing manager to lead our marketing team.</div>
            <div class="job-location">Location: Chicago, IL</div>
            <div class="buttons">
                <button routerLink="/candidates-employer">Response of candidates</button>
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </li>
    </ul>
</div>
