<app-top-bar></app-top-bar>
<main>
  <div class="search">
    <h2>Find Your Next Job</h2>
    <form>
      <input type="text" [(ngModel)]="query" name="q" placeholder="Search...">
      <button type="submit" (click)="searchVacancies(query)">Search</button>
    </form>
    <div class="button-group">
      <a class="button_under_search" routerLink="/">Vacancies</a>
      <a class="button_under_search" routerLink="/companies">Companies</a>
    </div>
  </div>

  <div id = "main">
    <div id = "vacancies">
      <h3>Found: {{vacancies.length}} vacancies</h3>
      <div class = "items" *ngFor = "let item of vacancies">
        <div class = "item-details">
          <a class = "vacancy-name" [routerLink]="['/vacancies', item.id]"> {{item.name}} </a>
          <div class = "vacancy-salary">{{item.salary}} KZT</div>
          <div class = "vacancy-city">{{item.city}}</div>
          <button class = "button-response" (click)="showWarning()">Response</button>
          <app-warning-box *ngIf="showWarningBox"></app-warning-box>
        </div>
      </div>
    </div>
  </div>
</main>

<footer></footer>