body {
margin: 0;
font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.search{
    background-color: #f2f2f2;
    padding: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.search h2 {
    margin-top: 0;
}

.search input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.job-listings {
    margin-top: 40px;
}
.job-listings ul {
    list-style: none;
    padding: 0;
}

.job-listings li {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.job-listings li h3 {
    margin-top: 0;
}

.job-listings li p {
    margin-bottom: 10px;
}

.job-listings li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.items {
    box-shadow: 0 2px 12px #dbddde;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#link-vacancy:hover {
    color: red;
}

.item-details {
    padding: 10px;
}

.vacancy-name {
    font-weight: 700;
    font-size: 22px;
    color: #2793e0;
    text-decoration: none;
    cursor: pointer;
}

.vacancy-city{
    font-weight: 300;
}

.vacancy-salary{
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding: 10px 0px 10px 0px;
}

.button_under_search{
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #333;
    color: #ffffff;
    box-shadow: 0 2px 12px #dbddde;
}

.button-response{
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #e73131;
    box-shadow: 0 2px 6px #dbddde;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.button-response:hover {
    transform: translateY(-2px);
}

.button-response, .button_under_search:active {
    transform: translateY(0);
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}