<app-top-bar></app-top-bar>

<main>
    <div id = "main">
        <h3>Vacancies: {{vacancies.length}}</h3>
        <div id = "vacancies">
            <div class = "items" *ngFor = "let item of vacancies">
                <div class = "item-details">
                    <a class = "vacancy-name" [routerLink]="['/vacancies', item.id]"> {{item.name}}</a>
                    <div class = "vacancy-salary">{{item.salary}} KZT</div>
                    <div class = "vacancy-city">{{item.city}} </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer></footer>
