<app-top-bar></app-top-bar>
<div class="login">
    <div class="login_box">
        <h1>Find a Job</h1>
        <form>
            <input type="text" class="login" placeholder="Email" [(ngModel)]="username"> <br>
            <input type="password" class="login" placeholder="Password" [(ngModel)]="password"> <br>
            <button type="submit" class="btn btn-primary" routerLink="/after-sign-in">Login</button>
        </form>
    </div> <br>

    <div class ="login_box">
        <h1>Search for employees</h1>
        <p>Placement of vacancies and access to the resume database</p>
        <form>
            <button type="submit" class="btn btn-primary" routerLink="/login_employer">Find employees</button>
        </form>
    </div>
    </div>

<!--<ng-container *ngIf="logged">-->
<!--    <app-after-sign-in></app-after-sign-in>-->
<!--</ng-container>-->