<app-top-bar-after></app-top-bar-after>
<body>
<div class="container">
    <div class="profile">
        <h1>Azamat Azamatov</h1>
        <h2>Web Developer</h2>
        <p>I am a highly skilled web developer with over 5 years of experience in designing, developing, and deploying websites and web applications. I specialize in creating responsive, user-friendly websites using HTML, CSS, JavaScript, and various front-end frameworks such as React and Vue.js. In my previous role, I successfully led the development of a complex e-commerce platform that increased sales by 25% and received industry recognition for its innovative design and functionality. I am passionate about staying up-to-date with the latest web technologies and implementing best practices to deliver high-quality results for my clients. </p>
        <ul>
            <li><strong>Email:</strong> a_azamatov@gmail.com</li>
            <li><strong>Phone:</strong> 123-456-7890</li>
            <li><strong>Location:</strong> Almaty, KZ</li>
        </ul>
        <a href="#" class="btn">Contact Me</a>
    </div>
</div>
</body>
